{
  "tabWidth": 2,
  "printWidth": 120,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "quoteProps": "as-needed"
}
