.vscode/
.pytest_cache/
output/
server.build/
server.bin
upgrade_daemon.build/
web_backend/log.txt
slam/data/ORBvoc.txt
service/cloud_service/frpc.ini
service/cloud_service/frpc_driving.ini
hardware/nvivafilter/gst-custom-opencv_cudaprocess.o
**/__pycache__
*.patch
service/upgrade/cache
/build/
/dist/
/perception.egg-info/
/tools/build/resources/
